header h1 {
  font-family: "Concert One", cursive;
  font-size: 40px;
  text-align: center;
  color: #434343;
  padding-top: 70px;
}

header p {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #434343;
  padding-top: 10px;
}

.nav-item {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #434343;
}

.navbar-brand {
  font-family: "Concert One", cursive;
  font-size: 22px;
  color: #434343;
}

.container {
  margin: auto;
  align-items: flex-start;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: 24px;
}

.recommendation {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  max-width: 768px;
  width: 720px;
}
.recommend-content {
  left: 0;
  padding: 20px;
  position: absolute;
  top: 0;
}

.recommend-content {
  color: #fcfaf2;
  font-size: 0.9rem;
  margin-bottom: 8px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.recommend-name {
  color: #fcfaf2;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(189, 192, 186, 0.5);
  line-height: 1.2;
  word-spacing: 100vw;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

@media (min-width: 769px) {
  .container {
    width: 750px;
  }
  .recommendation {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 750px;
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .recommendation {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    max-width: 960px;
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.card {
  list-style: none;
  position: relative;
  border-color: white;
}

.card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 20px rgba(189, 192, 186);
}

.recommend-img {
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  bottom: 0;
  filter: brightness(0.8) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.card:hover .recommend-img {
  transform: scale(1.05) translateZ(0);
}
