.intro {
  padding: 3rem;
  width: 50%;
}

.referenceS {
  padding-top: 1rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  width: 50%;
}

.intro hr {
  width: 50px;
  text-align: left;
  margin-left: 0;
  background-color: #eb7a77;
  height: 2px;
}

.reference hr {
  width: 50px;
  text-align: left;
  margin-left: 0;
  background-color: #313131;
  height: 0.5px;
}

.reference {
  background-color: #fcfaf2;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  text-align: left;
  color: #434343;
  padding-top: 50px;
  font-weight: 700;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: left;
  color: #434343;
  padding-top: 10px;
  font-weight: 600;
}

main p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  text-align: left;
  color: #434343;
  padding-top: 10px;
  font-weight: 200;
}

footer {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #fcfaf2;
}

.nav-item {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #434343;
}

.navbar-brand {
  font-family: "Concert One", cursive;
  font-size: 22px;
  color: #434343;
}

@media (min-width: 769px) {
  .intro {
    padding: 4rem;
    width: 500px;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 5rem;
    width: 600px;
  }
}

@media (min-width: 1200px) {
}
