.intro {
  padding: 3rem;
  width: 100%;
  text-align: center;
}

.referenceS {
  padding-top: 1rem;
  padding-left: 4rem;
  padding-bottom: 3rem;
  width: 70%;
}

.reference h2 {
  font-size: 14px;
  text-align: left;
}

.reference ul {
  font-size: 11px;
}

.reference a:link {
  color: #434343;
  font-size: 11px;
}

.reference a:visited {
  color: #999595;
  font-size: 11px;
}

.intro hr {
  width: 50px;
  text-align: center;
  background-color: #eb7a77;
  height: 2px;
}

.reference hr {
  width: 50px;
  text-align: left;
  margin-left: 0;
  background-color: #313131;
  height: 0.5px;
}

.reference {
  background-color: #fcfaf2;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  text-align: center;
  color: #434343;
  padding-top: 50px;
  font-weight: 700;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  text-align: center;
  color: #434343;
  padding-top: 10px;
  font-weight: 600;
}

main p {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #434343;
  padding-top: 10px;
  font-weight: 200;
}

footer {
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  text-align: center;
  background-color: #fcfaf2;
}

.nav-item {
  font-family: "Nunito", sans-serif;
  font-size: 15px;
  color: #434343;
}

.navbar-brand {
  font-family: "Concert One", cursive;
  font-size: 22px;
  color: #434343;
}

@media (min-width: 769px) {
  .referenceS {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .intro {
    padding: 5rem;
    width: 600px;
  } /*graphs*/
  .intro hr {
    width: 50px;
    text-align: left;
    margin-left: 0;
    background-color: #eb7a77;
    height: 2px;
  }

  h1 {
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    text-align: left;
    color: #434343;
    padding-top: 50px;
    font-weight: 700;
  }

  h2 {
    font-family: "Nunito", sans-serif;
    font-size: 18px;
    text-align: left;
    color: #434343;
    padding-top: 10px;
    font-weight: 600;
  }

  main p {
    font-family: "Nunito", sans-serif;
    font-size: 14px;
    text-align: left;
    color: #434343;
    padding-top: 10px;
    font-weight: 200;
  }
  .about {
    display: flex;
    flex-direction: flex-start;
  }
  .animal {
    width: 150px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 0 100px inset, 0 0 0 5px;
    transition: box-shadow 1s;
    float: left;
    margin: 10px;
  }

  .animal::after {
    width: 80%;
    height: 80%;
    display: block;
    font-size: 15pt;
    color: #fcfaf2;
    border: 2px solid;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    /* hover out transition */
    transition: opacity 1s 0.5s;
  }

  /*reveal photos*/
  .animal:hover {
    box-shadow: 0 0 0 5px inset, 0 0 5px grey, 0 0 10px grey inset;
    transition: box-shadow 1s;
  }

  /*hide names*/
  .animal:hover::after {
    opacity: 0;
    transition: opacity 0.5s;
  }

  #panda {
    background-image: url("../image/Panda.jpg");
    color: rgba(87, 76, 87, 0.8);
  }

  #panda::after {
    content: "Panda";
  }

  #arcticFox {
    background-image: url("../image/Arcticfox.jpg");
    color: rgba(46, 92, 110, 0.8);
  }

  #arcticFox::after {
    content: "Arctic Fox";
  }

  #leopard {
    background-image: url("../image/Leopard.jpg");
    color: rgba(134, 120, 53, 0.8);
  }

  #leopard::after {
    content: "Leopard";
  }

  #racoon {
    background-image: url("../image/racoon.jpg");
    color: rgba(9, 97, 72, 0.8);
  }

  #racoon::after {
    content: "Racoon";
  }
  .wrapper {
    width: 450px;
    height: 450px;
    padding-top: 80px;
    padding-right: 50px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
}
